@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$bg-white:white;
$bg-light:rgba(224, 223, 223, 0.397);
$bg-main:rgba(236, 235, 235, 0.664);
$bg-dark:rgb(0, 84, 87);
$navbar:rgb(77, 77, 77);
$footer:rgb(37, 37, 37);
$color-white:white;
$black:black;
$color-light:rgba(224, 223, 223, 0.397);
$color-dark:rgb(77, 77, 77);
$shadow:0rem 0rem .2rem .2rem rgba(209, 208, 208, 0.548);
$shadow-hover:0rem 0rem .2rem .2rem rgba(170, 170, 170, 0.548);
$transition-slow:.5s ease-in-out;
$transition-fast:.1s ease-in-out;
$radius:1rem;
$radius-small:.51rem;
$translate:translateY(-1rem);
$scale:scale(.95);
$h1: 3rem;
$h2: 2rem;
$p: 1.1rem;
$family:'STIX Two Math', serif;
$text-shadow: .1rem .1rem .2rem rgb(0, 129, 151);

