@import "./mixin.scss";
@import "./var.scss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
.card{
    border-radius: $radius-small;
    transform: $scale;
    transform: scale(.95,.91);
    overflow: hidden;
    height: min-content;

    .mydiv{
        height: min-content;
        background-color: white;
        .image{
          
            overflow: hidden;
            border-radius: $radius-small;
            height: min-content;
     
            a{
                z-index: 2;
               
                img{
                    transition: all .2s ease-in-out;
                    width: 100%;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
            .detail{
                z-index: 5;
                display: block;
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-weight: 700;
                text-transform: capitalize;
                background-color: #ffb03a;
                letter-spacing: 0.095rem;
                &:hover{
                    background-color: #ff9900;
                }
            }
        }
        p{
            text-align: justify;
            font-size: .91rem;
            font-family: 'Merriweather', serif;
        }
    }
}