@import "./mixin.scss";
@import "./var.scss";

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.container{
    box-shadow: $shadow;
    border-radius: $radius;
    h1,h2,h3,h4,p{
        text-align: justify;
        font-family: 'PT Serif', serif;
    }
}