@import "./mixin.scss";
@import "./var.scss";
.product_container{
    transform: scale(.95,1);
    z-index:90;
    background-color: $bg-main;
    .category{
        box-shadow: $shadow;
        .catbtn,button{
            color: white;
            transform: $scale;
            letter-spacing: .092rem;
            font-weight: 800;
            &:hover{
                color: rgb(0, 84, 87);
                border:none;
                outline: none;
                background-color: white;
            }
        }
        li{
            list-style: none;
            
            ul{
                z-index:90;
                background-color: red;
                
                button{
                   
                    color: white;
                    transform: $scale;
                    letter-spacing: .092rem;
                    &:hover{
                        color: rgb(0, 84, 87);
                        font-weight: 800;
                        border:none;
                        outline: none;
                        background-color: white;
                    }
                }
            }
        }
    }
}
/*




*/